<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Welcome to sighUp page</h2>
<form action="/signUp" method="post">
<label>USERNAME</label>
<input type="text" name="username">
<br></br>
<label>EMAIL</label>
<input type="email" name="email">
<br></br>
<label>PASSWORD</label>
<input type="password" name="password">
<br></br>
<label>GENDER</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="male">Female
<input type="radio" name="gender" value="male">Other
<br></br>
<input type="submit" value="SIGN UP">
</form>
</body>
</html>